*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

.navMainContainer{
    width: 100%;
    height: 60px;
}

header{
    /* #2c909f */
    background: #218c86;
    height: 100%;
    display: flex;
    /* justify-content: center;
    align-items: center; */
    flex-direction: column;
    gap: 20px;
    padding: 0 20px;
}
.navTopContainer{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.navBottomContainer{
    display: none;
}
.logo_Container{
    display: flex;
    align-items: center;
    margin-right: 20px;
    cursor: pointer;
}

body{
    margin: 0;
}

.logo{
    color: #fff;
}
.logo img{
    margin: 12px;
    width: 100px;
    height: 29.63px;
}

/* ********* Search_container ********* */

.search_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 300px;
    background: white;
    width: 440px;
    height: 38px;
    margin: 0px 20px;
    border-radius: 2px;
    padding: 0 15px;
    box-shadow: -5px -5px 5px rgba(0, 0, 0, 0.1),
    -5px -5px 5px rgba(0, 0, 0, 0.1);
    position: relative;
}


.search_container input{
    width: 100%;
    font-size: 15px;
    border: none;
    outline: none;
}

.recent_search
{
    position: absolute;
    background-color: white;
    box-shadow: -5px 0px 5px rgba(0, 0, 0, 0.1),
    -5px -5px 5px rgba(0, 0, 0, 0.1);
    /* height: 400px; */
    width: 100%;
    top: 35px;
    margin-left: -15px;
    border: 1px solid #ccc;
    display: none;
    /* padding: 15px; */
    z-index: 1;

}

/* .search_container:focus-within .recent_search{
    display: block;
} */

.recent_list{
    display: flex;
    width: 100%;
    background-color: #eee;
    border-bottom: 1px solid #ccc;
    height: 30px;
    cursor: pointer;
    font-size: 16px;
    padding: 7px;

}

.recent_list p{
    padding-left: 20px;
    font-size: 14px;
}


/* *************** Loginbtn_container **************** */

.loginbtn_container
{
    background-color: white;
    padding: 6px 20px;
    font-size: 18px;
    border-radius: 2px;
    margin: 0 25px;
    position: relative;
}

.loginbtn_container a{
    color: #218c86;
    text-decoration: none;
    font-weight: 510;
    

}

.navbar_account_container{
    position: relative;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar_account_name{
    display: flex;
    align-items: center;
    color: #fff;
}

.navbar_account_expandMore{
    display: none;
}

.navbar_account_container:hover .navbar_account_line{
    display: flex;
}

.navbar_account_container:hover .navbar_account_list{
    display: flex;
}

.navbar_account_list{
    background-color: #fff;
    z-index: 1;
    position: absolute;
    display: none;
    flex-direction: column;
    padding: 20px 0;
    margin-top: 60px;
    margin-left: -40px;
    top: 0;
    left: 0;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: default;
    
}
.navbar_account_line{
    background-color: #ff9797;
    z-index: 1;
    position: absolute;
    display: none;
    flex-direction: column;
    margin-top: 57px;
    width: 35px;
    height: 3px;
    margin-left: 21px;
    top: 0;
    left: 0;
}

.navbar_account_listItem{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 50px 10px 20px;
    font-size: 16px;
    background-color: #fff;
    border: 1px solid #ccc;
    cursor: pointer;
    color: rgb(74, 74, 74);
}

.navbar_account_button1:hover{
    background-color: #eee;
}
.navbar_account_button2:hover{
    background-color: #eee;
}
.navbar_account_button3:hover{
    background-color: #eee;
}




/* ********** Cart **************** */

.card_link{
    display: flex;
    font-size: 15px;
    font-weight: 550;
    color:white;
    margin-left: 10px;
    cursor: pointer;
    position: relative;
}
.card_link p{
    padding: 0 0 0 5px;
    text-decoration: none;
    
}

.cartBadge{
    position: absolute;
    top: -13px;
    right: -10px;
    background-color: #e04444;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 500;
}

@media (max-width:960px){
    header{
        gap: 0;
    }
    .navTopContainer{
        justify-content: space-between;
        gap: 0;
    }
}

@media (max-width:700px){
    /* header{
        position: relative;
    }
    .search_container{
        position: absolute;
        left: 0;
        right: 0;
        width: 100%;
        bottom: 0;
        margin-top: 20px;
    }*/
    .navMainContainer{
        height: 90px;
    } 
    .navTopContainer{
        justify-content:space-between;
    }
    .navBottomContainer{
        display: block;
        width: 100%;
        /* margin: 0 20px; */
    }
    .search_container{
        display: none;
    }
    .search_bottom_container{
        display: flex;
    justify-content: space-between;
    align-items: center;
    /* min-width: 300px; */
    background: white;
    width: 100%;
    height: 33px;
    border-radius: 2px;
    padding: 0 15px;
    box-shadow: -5px -5px 5px rgba(0, 0, 0, 0.1),
    -5px -5px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 5px;
    }

    .search_bottom_container input{
        width: 100%;
        font-size: 15px;
        border: none;
        outline: none;
    }

    .loginbtn_container{
        font-size: 14px;
        margin: 0;
    }

    .logo_Container{
        margin-right: 0;
    }

    .logo h2{
        font-size: 22px;
    }

    /* .navbar_account_container:focus .navbar_account_line{
        display: flex;
    }
    
    .navbar_account_container:focus .navbar_account_list{
        display: flex;
    } */
    .navbar_account_expandMore{
        display: flex;
        font-size: 20px;
    }
    .navbar_account_container:hover .navbar_account_expandMore{
        transform: rotate(180deg);
    }

    .navbar_account_line{
        margin-top: 49px;
    }

    .navbar_account_list{
        margin-top: 52px;
    }
}

@media (max-width: 600px) {
    .card_link p{
        display: none;
    }
}

