/* .loaderImage{
    width: 50vw;
    height: 50vw;
} */

@media (max-width:960px){
    .loaderImage{
        width: 50vw;
        height: 50vw;
    }
}

@media (max-width:600px){
    .loaderImage{
        width: 50vw;
        height: 50vw;
    }
}